.mainWrapper{
    height: 100vh;
    background-color: var(--lg-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--main-padding);
    position: relative;
    min-height: 600px;
    &.arabic{
        flex-direction: row-reverse;
        @media screen and (max-width:700px) {
            flex-direction: column;
            align-items: flex-end;
        }
        .zawdaImg{
           
        }
    }
   @media screen and (max-width:700px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 120px;
    height: auto;
    min-height: auto;
   }
  .svgAnim{
    width: 60%;
        position: relative;
      
       .zawdaImg{
        width: 100%;
        z-index: 5;
        position: relative;
       }
      
        @media screen and (max-width:700px) {
          width: 100%;
        }
  }
  
    @keyframes slideAndFadeFirst {
        0%, 20% {
          transform: translateY(0px);
          opacity: 0;
        }
        40% {
          transform: translateY(15px);
          opacity: 0.5;
        }
        80% {
          transform: translateY(15px);
          opacity: 0.5;
        }
        100% {
          transform: translateY(15px);
          opacity: 0;
        }
      }
      
      @keyframes slideAndFadeSecond {
        0%, 40% {
          transform: translateY(0);
          opacity: 0;
        }
        60% {
          transform: translateY(35px);
          opacity: 1;
        }
        90% {
          transform: translateY(35px);
          opacity: 1;
        }
        100% {
          transform: translateY(35px);
          opacity: 0;
        }
      }
      
      .scrollHint {
        position: absolute;
        left: 10%;
        bottom: 10%;
        height: 40px; // Adjust based on the size of your SVG arrow
        z-index: 6;
        @media screen and (max-width:700px) {
          bottom: 20%;
          display: none;
        }
      }
      
      .arrow {
        position: absolute;
        bottom: 0;
        
        &.arrowFirst {
          animation: slideAndFadeFirst 5s infinite; // Duration set to 5 seconds
        }
        
        &.arrowSecond {
          animation: slideAndFadeSecond 5s infinite;
        }
      }
      
}